<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229884568318-evhfk1lpnb6v0kula7vi2legiqneueqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229884568318-evhfk1lpnb6v0kula7vi2legiqneueqj</string>
	<key>API_KEY</key>
	<string>AIzaSyBSnUu7huw47rJcJE-NGB4OZ25Ccujck60</string>
	<key>GCM_SENDER_ID</key>
	<string>229884568318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GetChallenged</string>
	<key>PROJECT_ID</key>
	<string>getchallenged-fa4b0</string>
	<key>STORAGE_BUCKET</key>
	<string>getchallenged-fa4b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229884568318:ios:4036b516fe69dcf8d2bbaf</string>
</dict>
</plist>